<template>
  <div
    style="position: fixed; background-color : rgba(0,0,0,0.25); width : 100vw; height : 100vh; left : 0px; top : 0px; backdrop-filter : blur(20px);">
  </div>
  <div class="card">
    <div class="card-body pb-0 text-center">
      <h3 class="text-primary mb-0">${settings.title}</h3>
      <hr>
      <p class="mb-0">${settings.description}</p>
    </div>
    <div class="card-body pt-0">
      <hr>
      <div class="row">
        <div class="col">
          <button class="btn btn-secondary btn-block" click.trigger="controller.cancel()">${settings.denial}</button>
        </div>
        <div class="col">
          <button class="btn btn-primary btn-block" click.trigger="controller.ok()">${settings.approval}</button>
        </div>
      </div>
    </div>
  </div>
</template>